.collapse {
  margin-top: 1rem;
  background-color: #292929;
  padding: 20px;
  border-radius: 1rem;
  position: relative;
  text-align: start !important;
  .collapse_title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding-top: 0.5rem;
    width: 91%;
  }
  .collapse_content {
    margin-top: 0.5rem;
    font-size: 20px;
    color: #cacaca;
    display: grid;
  }
  .collapse_content_overflow {
    overflow: hidden;
  }
  .collapse_arrow_icon {
    top: 40px;
    right: 20px;
    width: 20px;
    position: absolute;
  }
}
